
doctype 5
html
  head
    title Ladder
    meta(charset="utf-8")
    link(rel="stylesheet", href="page.css")
    script(src="build.js")
    //- script(src="http://192.168.1.14:7777/doodle.js")
  body
    #main
      textarea#paste
      br
      button#fold fold
      button#expand expand
      br
      pre#paper