
// globak settings

*
  box-sizing border-box

body
  margin 0px

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsla(0,0,0,0)

::-webkit-scrollbar-thumb
  border-radius 2px
  background hsl(0,0,80)

// main

#main
  width 900px
  margin 0px auto
  background hsl(0,0,96)
  padding 40px 10px
  font-family Consolas, Monaco

  #paste
    width 100%
    border none
    height 80px

  #paper
    line-height 20px

  .unit
    &:hover
      box-shadow -1px 0px 0px hsl(0,0,60)

  .line
    cursor pointer
    padding 0px 2px

    &:hover
      // background hsl(0,0,90)

  .block
    margin 0px 0px 8px 16px
    